@import "../common-theme/MenuFlyout.scss";
.fv-light-menuFlyout {
  @include fv-menuFlyout();
  background-color: #fff;
  .fv-menuFlyout__button{
    border: none;
  }
  &:hover {
    background-color: #f3f2f1;
  }
  &.actived {
    background-color: #f3f2f1;
  }
  &.disabled{
    background-color: #fff;
    color:#a19f9d;
  }
}

.fv-light-menuFlyoutPopper {
  @include fv-menuFlyoutPopper();
  background-color: #fff;
  color: rgb(50, 49, 48);
}

.fv-light-menuSubFlyout {
  @include fv-menuSubFlyout();
  font-size: 15px;
  &:hover {
    .fv-menuSuyFlyout__bg {
      background-color: #f3f2f1;
    }
    .fv-menuSubFlyout__label + .fv-menuSubFlyout__button-box:hover {
      background-color: #f3f2f1;
    }
  }
  .fv-menuSubFlyout__button-box:hover + .fv-menuSuyFlyout__bg {
    background-color: inherit;
  }
  &.actived {
    .fv-menuSubFlyout__button-box {
      background-color: #f3f2f1;
    }
  }
  &.disabled{
    background-color: inherit;
    color:#a19f9d;
  }
}

.fv-light-menuItemFlyout {
  @include fv-menuItemFlyout;
  background-color: inherit;
  &:hover {
    background-color: #f3f2f1;
  }
  color: inherit;
  .fv-menuItemFlyout__icon{
    color: rgba(0, 120, 212, 1);
  }
  &.disabled{
    background-color: inherit;
    color:#a19f9d;
  }
}

.fv-light-menuBlockFlyout{
  @include fv-menuBlockFlyout();
  .fv-menuBlockFlyout__header{
    height: 30px;
    line-height: 30px;
    color:rgba(0, 120, 212, 1);
  }
}
