@import "../common-theme/MenuFlyout.scss";
.fv-light-menuFlyout {
  @include fv-menuFlyout();
  background-color: #fff;
  .button{
    border: 1px solid #8a8886;
  }
  &:hover {
    background-color: #f3f2f1;
  }
  &.actived {
    background-color: #f3f2f1;
  }
}

.fv-light-menuFlyoutPopper {
  @include fv-menuFlyoutPopper();
}

.fv-light-menuSubFlyout {
  @include fv-menuSubFlyout();
  color: rgb(50, 49, 48);
  font-size: 14px;
  &:hover {
    .bg {
      background-color: #f3f2f1;
    }
    .label + .button-box:hover {
      background-color: #f3f2f1;
    }
  }
  .button-box:hover + .bg {
    background-color: inherit;
  }
  &.actived {
    .button-box {
      background-color: #f3f2f1;
    }
  }
}

.fv-light-menuItemFlyout {
  @include fv-menuItemFlyout;
  &:hover {
    background-color: #f3f2f1;
  }
  color: rgb(50, 49, 48);
}
