@mixin fv-Breadcrumb {
    
    position: relative;
    min-width: 150px;
    width: auto;
    height: 30px;
    padding: 2px 5px;
    border: transparent solid thin;
    display: flex;
    align-items: center;

    &:hover
    {
        border: rgba(200, 200, 200, 1) solid thin;
    }

    &.readOnly
    {
        &:hover
        {
            border: transparent solid thin;
        }
    }

    &.editor-mode
    {
        border: rgba(0, 120, 212, 1) solid thin;
        outline: rgba(0, 120, 212, 0.6) solid 2px;
    }

    &.disabled
    {
        filter: grayscale(1);
        opacity: 0.6;

        &:hover
        {
            border: transparent solid thin;
        }

        .fv-bc-route-list
        {
            
            .fv-bc-route-item
            {
                .fv-bc-separator-content
                {
                    cursor: default;
                    
                    &:hover
                    {
                        background: none;
                    }
                }
            }
        }
    }

    .fv-bc-route-list
    {
        position: relative;
        width: 100%;
        height: 27px;
        display: flex;
        align-items: center;

        .fv-bc-route-item
        {
            position: relative;
            width: auto;
            height: 100%;
            display: flex;
            align-items: center;

            .fv-bc-separator-content
            {
                @include fv-Breadcrumb-separator-content;
            }

            .fv-bc-separator-icon
            {
                @include fv-Breadcrumb-separator-icon;
            }

        }

        .fv-bc-route-text-box
        {
            width: 100%;
            height: 100%;
            flex: 1;
            background: transparent;
            font-size: 16px;
            border: none;
            outline: none;
        }
    }
}

@mixin fv-Breadcrumb-separator-content {
    width: auto;
    height: auto;
    padding: 2px 8px;
    margin: 0px;
    border-radius: 3px;
    color: rgba(105, 105, 105, 1);
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &:hover
    {
        background: rgba(233, 233, 233, 1);
    }

    &:active
    {
        background: rgba(229, 229, 229, 1);
    }
}

@mixin fv-Breadcrumb-separator-icon {
    width: auto;
    height: auto;
    padding: 0px 8px;
    font-size: 12px;
    color: rgba(105, 105, 105, 1);
    box-sizing: border-box;
    cursor: default;
}
