@mixin fv-checkBox {
    width: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    user-select: none;
    cursor: pointer;

    &.box-side-end
    {
        justify-content: flex-end;
        flex-direction: row-reverse;

        .text-content-block
        {
            margin-right: 5px;
        }
    }

    .fv-checkbox-rec
    {
        position: relative;
        width: 20px;
        height: 20px;
        border-radius: 3px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        transition: all 0.05s;
        overflow: hidden;

        &.disabled
        {
            opacity: 0.3;
            filter: grayscale(1);
            cursor: default;
        }

        &.check
        {
            background: rgba(0, 90, 158, 1);

            &:hover
            {
                background: rgba(0, 90, 158, 1);
            }

            .fv-checkbox-border
            {
                border-color: transparent;

                &:hover
                {
                    border-color: transparent;
                }
            }
        }

        &:hover
        {
            background: rgba(200, 200, 200, 0.2);

            .fv-checkbox-border
            {
                opacity: 0.6;
            }
        }

        &:active
        {
            background: rgba(200, 200, 200, 0.3);

            .fv-checkbox-border
            {
                opacity: 0.3;
            }
        }

        .fv-checkbox-border
        {
            width: 100%;
            height: 100%;
            margin: 0px;
            padding: 0px;
            border: solid 1px;
            border-color: rgba(51, 51, 51, 1);
            border-radius: 3px;
            box-sizing: border-box;
            overflow: hidden;
            opacity: 0.75;
            -webkit-font-smoothing: antialiased;
        }

        .fv-checkbox-content-block
        {
            position: absolute;
            left: 0px;
            top: 0px;
            width: 100%;
            height: 100%;
            margin: 0px;
            padding: 0px;
            font-size: 13px;
            font-weight: bold;
            border-radius: 3px;
            color: white;
            user-select: none;
            overflow: hidden;
            cursor: pointer;

            .fv-checkbox-content
            {
                position: absolute;
                width: 20px;
                height: 20px;
                left: 0px;
                top: 0px;
                margin: 0px;
                padding: 0px;
                font-size: 13px;
                font-weight: bold;
                border-radius: 3px;
                color: white;
                display: flex;
                justify-content: center;
                align-items: center;
                user-select: none;
            }
        }

        .font-clip-in-enter-active, .font-clip-in-leave-active
        {
            transition: all 0.5s;
        }
        
        .font-clip-in-enter
        {
            width: 0px;
        }
        .font-clip-in-enter-to
        {
            width: 100%;
        }

        .font-clip-in-leave-active
        {
            transition: all 0.1s;
        }

        .font-clip-in-leave
        {
            width: 100%;
        }

        .font-clip-in-leave-to
        {
            width: 0px;
        }
    }

    .ms-Icon--CheckMark::before
    {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .text-content-block
    {
        margin-left: 5px;
        font-size: 15px;
        user-select: none;
        cursor: default;
    }
}