@mixin fv-checkBox {
    width: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;

    &.box-side-end
    {
        justify-content: flex-end;
        flex-direction: row-reverse;

        .text-content-block
        {
            margin-right: 5px;
        }
    }

    .checkbox-rec
    {
        position: relative;
        width: 20px;
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        transition: all 0.5s;

        &.disabled
        {
            opacity: 0.3;
            filter: grayscale(1);
            cursor: default;
        }

        .checkbox-border
        {
            width: 100%;
            height: 100%;
            margin: 0px;
            padding: 0px;
            border: solid 1px;
            border-color: rgba(51, 51, 51, 1);
            border-radius: 3px;
            box-sizing: border-box;
            overflow: hidden;
            opacity: 0.75;
            -webkit-font-smoothing: antialiased;

            &:hover
            {
                opacity: 1;
            }

            .check
            {
                border-color: transparent;

                &:hover
                {
                    border-color: inherit;
                }
            }
        }

        .checkbox-content
        {
            position: absolute;
            width: 100%;
            height: 100%;
            margin: 0px;
            padding: 0px;
            font-size: 13px;
            border-radius: 3px;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
        }

        .CheckboxIndeterminate
        {
            position: absolute;
            width: 8px;
            height: 8px;
            margin: 0px;
            padding: 0px;
            background: white;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &:hover
        {
            .content
            {
                z-index: -1;
            }
        }
        
        .font-scale-in-enter,.font-scale-in-leave-to
        {
            transition: all 0.05s;
            transform: scale(0.9);
        }
        .font-scale-in-enter-to,.font-scale-in-leave
        {
            transition: all 0.05s;
            transform: scale(1);
        }
    }

    .ms-Icon--CheckMark::before
    {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .text-content-block
    {
        margin-left: 5px;
        font-size: 15px;
        user-select: none;
        cursor: default;
    }
}