@mixin fv-CommandBar {

    position: relative;
    width: 100%;
    height: 45px;
    background: rgba(239, 239, 239, 0.6);
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .left-command-bar-container
    {
        position: relative;
        width: 100%;
        height: 100%;
        flex: 1;
        box-sizing: border-box;
        display: flex;

        .command-bar-item
        {
            position: relative;
            width: auto;
            height: 100%;
            margin: 0px 1px;
            padding: 0px 12px;
            border: transparent solid thin;
            box-sizing: border-box;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: visible;

            i.icon {
                position: relative;
                width: 20px;
                height: 100%;
                color: rgba(0, 0, 0, 1);
                display: flex;
                justify-content: center;
                align-items: center;
            }

            p.name {
                @include nowrap;

                position: relative;
                width: 100%;
                height: 100%;
                flex: 1;
                margin: 0px;
                padding: 0px 12px;
                font-weight: normal;
                color: rgba(0, 0, 0, 1);
                user-select: none;
                box-sizing: border-box;
                display: flex;
                justify-content: flex-start;
                align-items: center;
            }

            .s1-container
            {
                font-size: 13.8px;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            &.disabled
            {
                filter: grayscale(1);

                i.icon
                {
                    opacity: 0.6;
                }

                p.name
                {
                    opacity: 0.6;
                }

                &:hover
                {
                    background: transparent;
                }
            }

            &:hover
            {
                background: rgba(158, 158, 158, 0.3);
            }

            &.hr
            {
                width: 1px;
                padding: 0px 1px;
                border-right: rgba(36,36,36,0.1) solid thin;

                &:hover
                {
                    background: transparent;
                }
            }
        }
    }

    .right-command-bar-container
    {
        position: relative;
        width: auto;
        height: 100%;
        box-sizing: border-box;
        display: flex;
    }

    .command-bar-list-view-container
    {
        position: absolute;
        left: 0px;
        top: 100%;
        width: 200px;
        height: auto;
        padding: 3px 0px;
        background: rgba(239, 239, 239, 0.8);
        border: rgba(0, 0, 0, 0.1) solid thin;
        border-radius: 5px;
        transition: all 0.3s;
        box-sizing: border-box;
        box-shadow: $ms-depth-shadow-16;
        backdrop-filter: blur(25px);
        -webkit-backdrop-filter: blur(25px);
        display: flex;

        &.toward-up
        {
            top: auto;
            bottom: 100%;
        }

        i.icon {
            position: relative;
            width: 20px;
            height: 100%;
            color: rgba(0, 0, 0, 1);
            display: flex;
            justify-content: center;
            align-items: center;
        }

        p.name {
            @include nowrap;

            position: relative;
            width: 100%;
            height: 100%;
            flex: 1;
            margin: 0px;
            padding: 0px 12px;
            font-weight: normal;
            color: rgba(0, 0, 0, 1);
            user-select: none;
            box-sizing: border-box;
            display: flex;
            justify-content: flex-start;
            align-items: center;
        }
    }

    .zoom-in-top-enter-active,.zoom-in-top-leave-active {
        opacity: 1;
        transform: scaleY(1);
        transition: transform 300ms cubic-bezier(0.23, 1, 0.32, 1), opacity 300ms cubic-bezier(0.23, 1, 0.32, 1);
        transform-origin: center top;
    }
    .zoom-in-top-enter,.zoom-in-top-leave-active {
        opacity: 0;
        transform: scaleY(0);
    }

    .zoom-in-bottom-enter-active,.zoom-in-bottom-leave-active {
        opacity: 1;
        transform: scaleY(1);
        transition: transform 300ms cubic-bezier(0.23, 1, 0.32, 1), opacity 300ms cubic-bezier(0.23, 1, 0.32, 1);
        transform-origin: center bottom;
    }
    .zoom-in-bottom-enter,.zoom-in-bottom-leave-active {
        opacity: 0;
        transform: scaleY(0);
    }
}
