@mixin fv-DatePicker {
    position: relative;
    display: inline-block;
    width: 300px;
    height: 30px;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    border-color: inherit;
    padding: 0;
    margin: 0;
    button {
        //default clear
        background: none;
        border: none;
        color: inherit;
        cursor: pointer;
        box-sizing: border-box;
        padding: 0 20px;
        height: inherit;
        margin: 0;
        outline: none;
    }
    .fv-DatePicker__input {
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
        display: inline-flex;
        .fv-DatePicker__input-month {
            flex: 3;
            text-align: left;
            white-space: nowrap;
        }
        .fv-DatePicker__input-day {
            flex: 2;
            text-align: center;
            border-left-style: solid;
            border-left-width: 1px;
            border-left-color: #cccccc;
            padding: 0 20px;
            white-space: nowrap;
        }
        .fv-DatePicker__input-year {
            flex: 2;
            text-align: center;
            border-left-style: solid;
            border-left-width: 1px;
            border-left-color: #cccccc;
            padding: 0 px;
            white-space: nowrap;
        }
    }
    .fv-DatePicker__input-options {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 400px;
        border-radius: 2px;
        z-index: 2000;
        transform: translate(0, -165px);
        overflow: hidden;
        box-sizing: border-box;
        box-shadow: 0 0 5px #aaa;
        display: flex;
        flex-direction: column;
        border-color: inherit;
        backdrop-filter: blur(25px);
        -webkit-backdrop-filter: blur(25px);

        .fv-DatePicker__input-body {
            position: relative;
            height: calc(100% - 40px);
            width: inherit;
            display: inline-flex;
            border-left-color: inherit;
            .fv-DatePicker__input-center-mask {
                position: absolute;
                height: 40px;
                width: 100%;
                top: 50%;
                opacity: 0.8;
                transform: translate(0, -50%);
            }
            .fv-DatePicker__input-options-col:nth-child(2) {
                flex: 3;
                text-align: left;
            }
            .fv-DatePicker__input-options-col:nth-child(n + 3) {
                flex: 2;
                text-align: center;
                border-left-color: inherit;
                .fv-DatePicker__input-options-col-items {
                    border-color: inherit;
                }
                .fv-DatePicker__input-options-col-item {
                    border-left-style: solid;
                    border-left-width: 1px;
                    border-color: inherit;
                }
                .fv-DatePicker__input-options-col-up {
                    border-left-style: solid;
                    border-left-width: 1px;
                    border-color: inherit;
                    cursor: pointer;
                }
                .fv-DatePicker__input-options-col-down {
                    border-left-style: solid;
                    border-left-width: 1px;
                    border-color: inherit;
                    cursor: pointer;
                }
            }
            .fv-DatePicker__input-options-col {
                position: relative;
                .fv-DatePicker__input-options-col-up {
                    display: none;
                    position: absolute;
                    height: 20px;
                    width: 100%;
                    text-align: center;
                    line-height: 20px;
                    font-size: 8px;
                    cursor: pointer;
                }
                .fv-DatePicker__input-options-col-down {
                    display: none;
                    position: absolute;
                    top: 100%;
                    height: 20px;
                    width: 100%;
                    text-align: center;
                    line-height: 20px;
                    font-size: 8px;
                    transform: translate(0, -100%);
                    cursor: pointer;
                }
                .fv-DatePicker__input-options-col-items {
                    height: 100%;
                    overflow-x: hidden;
                    overflow-y: auto;
                    -ms-overflow-style: -ms-autohiding-scrollbar;
                    &::-webkit-scrollbar {
                        display: none;
                    }
                    .fv-DatePicker__input-options-col-item {
                        height: 40px;
                        font-size: 14px;
                        box-sizing: border-box;
                        padding: 10px 20px;
                        line-height: 100%;
                        white-space: nowrap;
                        -moz-user-select: -moz-none;
                        -o-user-select: none;
                        -khtml-user-select: none;
                        -webkit-user-select: none;
                        -ms-user-select: none;
                        user-select: none;
                    }
                }
            }
        }
        .fv-DatePicker__input-options-bottom-bar {
            height: 40px;
            width: inherit;
            display: inline-flex;
            border-top-style: solid;
            border-top-width: 1px;
            border-color: inherit;
            z-index: 1;
            button {
                flex: 1;
                font-size: 16px;
                font-weight: bold;
            }
        }
    }
}
