@mixin fv-drawer {
    position: fixed;
    background-color: rgba(239, 239, 239,0.99);
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(50px);
    overflow: hidden;
    transition: transform 0.3s;
    // filter:blur(2px);
    transition-timing-function: ease-in-out;
}
