@import "../office-ui-fabric-core/dist/sass/_References.scss";

* {
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
}

$row-light-hover: rgba(243, 242, 241, 1);
$row-light-active: rgba(237, 235, 233, 1);
$row-dark-hover: rgba(37, 36, 35, 1);
$row-dark-active: rgba(41, 40, 39, 1);
$row-light-hover-glass: rgba(243, 242, 241, 0.3);
$row-light-active-glass: rgba(237, 235, 233, 0.3);
$row-dark-hover-glass: rgba(37, 36, 35, 0.3);
$row-dark-active-glass: rgba(41, 40, 39, 0.3);

$border-std-color: $ms-color-sharedCyanBlue10;
$border-correct-color: rgba(0, 204, 153, 1);
$border-error-color: rgba(173, 38, 45, 1);

$t-light-36: rgba(36, 36, 36, 1);
$t-light-50: rgba(50, 49, 48, 1);
$t-light-96: rgba(96, 94, 92, 1);

@mixin nowrap {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@mixin narrow-scroll-bar {
    ::-webkit-scrollbar {
        width: 10px;
        height: 8px;

        &:hover {
            width: 16px;
        }
    }
    /*定义滚动条轨道
 内阴影+圆角*/
    ::-webkit-scrollbar-track {
        border-radius: 10px;
    }
    /*定义滑块
 内阴影+圆角*/
    ::-webkit-scrollbar-thumb {
        border-right: rgba(191, 190, 189, 0.2) solid 5px;
        background-color: rgba(191, 190, 189, 0);
        transition: background-color 0.3s;
        cursor: pointer;

        &:hover {
            border-radius: 10px;
            border-color: transparent;
            background-color: rgba(191, 190, 189, 0.6);
        }

        &:active {
            background-color: rgba(191, 190, 189, 0.5);
        }

        &:horizontal {
            border-right: none;
            border-bottom: rgba(191, 190, 189, 0.2) solid 5px;
        }
    }
}
