@import 'office-ui-fabric-core/src/sass/_References.scss';

$row-light-hover: rgba(243, 242, 241, 1);
$row-light-active: rgba(237, 235, 233, 1);
$row-dark-hover: rgba(37, 36, 35, 1);
$row-dark-active: rgba(41, 40, 39, 1);

@mixin nowrap
{
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}