@mixin fv-ListView {

    position: relative;
    width: 350px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;

    .list-view-container
    {
        position: relative;
        width: 100%;
        height: 100%;
        overflow-x: hidden;
        overflow-y: auto;
        -ms-overflow-style: -ms-autohiding-scrollbar;

        .item
        {
            position: relative;
            width: 100%;
            height: 45px;
            padding: 0px 12px;
            border: transparent solid thin;
            border-left: none;
            border-right: none;
            box-sizing: border-box;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            float: left;

            *{
                @include nowrap;

                position: relative;
                height: 100%;
                margin: 0px;
                font-size: 13.8px;
                font-weight: normal;
                color: rgba(50, 49, 48, 1);
                box-sizing: border-box;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                user-select: none;
            }

            &:hover
            {
                background: rgba(243, 242, 241, 1);
            }

            &.disabled
            {
                filter: grayscale(1);
                opacity: 0.8;

                *{
                    color: rgba(150, 150, 150, 1);
                }
            }

            &.header
            {
                &:hover
                {
                    background: transparent;
                }

                
                *{
                    color: rgba(0,120,212,1);
                    font-weight: 600;
                }
            }

            &.choose
            {
                background: rgba(0, 120, 212, 0.3);
            }

            &.hr
            {
                height: 1px;
                border-bottom: rgba(36,36,36,0.1) solid thin;
            }
        }
    }
}