@mixin fv-MessageBar {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    padding: 12px 12px;
    background: rgba(245, 245, 245, 0.8);
    border: rgba(229, 229, 229, 0.6) solid thin;
    border-radius: 3px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    z-index: 900;

    &.relative {
        position: relative;
        z-index: 0;
    }

    &.normal {
        background: rgba(245, 245, 245, 0.8);
    }

    &.warning {
        background: rgba(255, 200, 10, 0.5);
    }

    &.correct {
        background: rgba(223, 246, 221, 0.9);
    }

    &.error {
        background: rgba(253, 231, 233, 0.9);
    }

    .msg-bar-block {
        position: relative;
        height: auto;
        font-size: 15px;
        color: rgba(50, 49, 48, 1);
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        z-index: 999;

        .icon-block {
            width: 16px;
            height: 16px;
            margin-top: 5px;
            border-radius: 50%;
            font-size: 9px;
            background: rgba(0, 120, 212, 1);
            color: whitesmoke;
            display: flex;
            align-items: center;

            &::before {
                width: 16px;
                height: 16px;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            &.normal {
                background: rgba(0, 120, 212, 1);
            }

            &.warning {
                background: rgba(157, 93, 0, 1);
                transform: rotate(180deg);
            }

            &.correct {
                background: rgba(15, 123, 15, 1);
            }

            &.error {
                background: rgba(196, 43, 28, 1);
            }
        }

        .msg-content-block {
            padding-top: 2px;
            flex: 1;
            margin-left: 5px;
            color: rgba(50, 49, 48, 1);
            text-align: justify;

            .header {
                font-weight: 600;
            }

            a {
                color: rgba(0, 90, 158, 1);
                text-decoration: none;
                cursor: pointer;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        .close-block {
            width: 30px;
            padding: 3px;
            margin-left: 3px;
            border-radius: 3px;
            font-size: 13.8px;
            text-align: center;

            &:hover {
                background: rgba(36, 36, 36, 0.1);
            }

            &:active {
                opacity: 0.8;
            }
        }
    }

    .control-block {
        padding: 6px 0px;
        box-sizing: border-box;
        display: flex;
        justify-content: flex-end;
    }
}
