@mixin fv-NavigationView {

    .slider
    {
        position: absolute;
        left: 0px;
        top: 0px;
        width: auto;
        height: 100%;
        overflow: hidden;
        z-index: 1;

        .s
        {
            position: relative;
            width: 2px;
            height: 40px;
            margin: 0px;
            padding: 12px 0px;
            box-sizing: border-box;
            float: left;

            p
            {
                position: relative;
                width: 100%;
                height: 100%;
                margin: 0px;
                background: rgba(0, 120, 212, 1);
            }
        }
    }

    .navigation-list
    {
        position: relative;
        width: 100%;
        height: 100%;
        
        *{
            @include narrow-scroll-bar;
        }

        .item
        {
            padding: 0px;

            &:hover
            {
                background: rgba(158, 158, 158, 0.3);
            }
        }

        i.icon {
            position: relative;
            width: 40px;
            height: 100%;
            color: rgba(0, 0, 0, 1);
            display: flex;
            justify-content: center;
            align-items: center;
        }

        p.name {
            @include nowrap;

            position: relative;
            width: 100%;
            height: 100%;
            flex: 1;
            margin: 0px;
            padding: 0px 12px;
            font-weight: normal;
            color: rgba(0, 0, 0, 1);
            user-select: none;
            box-sizing: border-box;
            display: flex;
            justify-content: flex-start;
            align-items: center;

            &.title
            {
                font-size: 13.8px;
                font-weight: 600;
            }
        }
    }

    &.compact
    {
        .navigation-list
        {
            .item
            {
                &.header
                {
                    display: none;
                }
            }
            
            p.name
            {
                display: none;
            }
        }
    }
}
