@mixin fv-Panel {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 20;

    .fv-panel-back-board {
        position: absolute;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        background: rgba(255, 255, 255, 0.45);
    }

    .fv-panel-container {
        position: absolute;
        max-width: 100%;
        max-height: 100%;
        background: rgba(255, 255, 255, 1);
        display: flex;
        flex-direction: column;
        box-shadow: $ms-depth-shadow-64;

        &.default-side {
            top: 0px;
            right: 0px;
            width: 340px;
            height: 100%;
        }

        &.near-side {
            left: 0px;
            right: none;
        }

        &.top-side {
            left: 0px;
            top: 0px;
            width: 100%;
            height: 500px;
        }

        &.bottom-side {
            top: none;
            bottom: 0px;
            width: 100%;
            height: 500px;
        }

        &.central-side {
            position: relative;
            height: calc(100% - 20px);
            border-radius: 8px;
        }

        &.acrylic-style {
            background: rgba(255, 255, 255, 0.6);
            backdrop-filter: blur(25px);
            -webkit-backdrop-filter: blur(25px);
        }

        .fv-panel-control-block {
            position: relative;
            width: 100%;
            height: 75px;
            padding: 0px;
            box-sizing: border-box;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .panel-title {
                font-size: 20px;
                font-weight: 600;
                color: rgba(50, 49, 48, 1);
            }

            .control-btn {
                position: relative;
                width: 35px;
                height: 35px;
                border-radius: 6px;
                display: flex;
                justify-content: center;
                align-items: center;

                &:hover {
                    background: rgba(0, 0, 0, 0.05);
                }
            }
        }

        .fv-panel-main-container {
            position: relative;
            width: 100%;
            flex: 1;
            box-sizing: border-box;
            display: flex;
            overflow: hidden;
        }

        .fv-panel-footer {
            position: relative;
            width: 100%;
            height: 80px;
            background: rgba(245, 245, 245, 0.6);
            border-top: rgba(36, 36, 36, 0.1) solid thin;
            box-sizing: border-box;
            display: flex;
            align-items: center;
        }
    }

    /***************** scale *******************/
    /* scale-down-to-down */
    .fv-panel-scale-down-to-down-enter-active {
        animation: scaleUpDown 0.3s ease both;
        animation-delay: 0.1s;
    }
    .fv-panel-scale-down-to-down-leave-active {
        animation: scaleDown 0.3s ease both;
    }
    @keyframes scaleUpDown {
        from {
            opacity: 0;
            transform: scale(1.2);
        }
    }
    @keyframes scaleDown {
        to {
            opacity: 0;
            transform: scale(0.8);
        }
    }

    /* scale-up-to-up */
    .fv-panel-scale-up-to-up-enter-active {
        animation: scaleUp 0.3s ease both;
        animation-delay: 0.1s;
    }
    .fv-panel-scale-up-to-up-leave-active {
        animation: scaleDownUp 0.3s ease both;
    }
    @keyframes scaleUp {
        from {
            opacity: 0;
            transform: scale(0.8);
        }
    }
    @keyframes scaleDownUp {
        to {
            opacity: 0;
            transform: scale(1.2);
        }
    }
}
