@mixin fv-progressRing {
    
    position: relative;
	width: 150px;
	height: 150px;
	display: flex;
	justify-content: center;
    align-items: center;
    
    p
    {
        position: absolute;
        width: 10px;
        height: 10px;
        margin-left: -50px;
        margin-top: -50px;
        background: cornflowerblue;
        border-radius: 50%;
        opacity: 0;
        transform-origin:50px 50px;
        animation: progressring 4s infinite ease-in-out;

        &:nth-of-type(1)
        {
			animation: progressring 4s infinite ease-in-out;
			animation-delay: 0.12s;
        }
        
        &:nth-of-type(2)
        {
			animation: progressring 4s infinite ease-in-out;
			animation-delay: 0.24s;
        }
        
        &:nth-of-type(3)
        {
			animation: progressring 4s infinite ease-in-out;
			animation-delay: 0.36s;
        }
        
        &:nth-of-type(4)
        {
			animation: progressring 4s infinite ease-in-out;
			animation-delay: 0.48s;
        }
        
        &:nth-of-type(5)
        {
			animation: progressring 4s infinite ease-in-out;
			animation-delay: 0.6s;
        }
    }

    &.l
    {
		width: 105px;
		height: 105px;
        p
        {
			width: 8px;
			height: 8px;
			margin-left: -35px;
			margin-top: -35px;
			transform-origin: 35px 35px;
		}
    }
    
    &.m
    {
		width: 75px;
		height: 75px;
        p
        {
			width: 6px;
			height: 6px;
			margin-left: -25px;
			margin-top: -25px;
			transform-origin: 25px 25px;
		}
    }
    
    &.s
    {
		width: 45px;
		height: 45px;
        p
        {
			width: 5px;
			height: 5px;
			margin-left: -15px;
			margin-top: -15px;
			transform-origin: 15px 15px;
		}
    }
    
    &.xs
    {
		width: 24px;
		height: 24px;
        p
        {
			width: 3px;
			height: 3px;
			margin-left: -8px;
			margin-top: -8px;
			transform-origin: 8px 8px;
		}
    }
    
    @keyframes progressring
    {
        0%
        {
            opacity: 1;
            transform: rotate(-30deg);
        }
        60%
        {
            opacity: 1;
        }
        80%
        {
            opacity: 0;
            transform: rotate(520deg);
        }
        100%
        {
            opacity: 1;
            transform: rotate(690deg);
        }
    }
}