@mixin fv-radio {
    position: relative;
    display: inline-flex;
    min-width: 20px;
    min-height: 20px;
    height: auto;
    box-sizing: border-box;
    align-content: space-between;
    align-items: center;
    cursor: pointer;
    
    .fv-radio-button {
        position: relative;
        height: 20px;
        width: 20px;
        border-radius: 50%;
        border: 1px solid #afafaf;
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        outline: none;
        transition: all 0.3s;
        
        &:hover {
            border: 1px solid #484848;
        }
        &:active
        {
            background-color: rgba(153, 153, 153, 1);
            border: 1px solid #000000;
        }
        &::before {
            content: "";
            position: absolute;
            box-sizing: border-box;
            height: 50%;
            width: 50%;
            border-radius: 50%;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
        &.actived {
            background-color: #0078d4;
            border: none;
            &.disabled {
                background-color: #afafaf;
                filter: grayscale(1);
                opacity: 0.6;
            }
            &::before {
                background-color: white;
            }
        }
    }
    
    .fv-radio-label {
        position: relative;
        height: 20px;
        margin: 0px 8px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        span {
            display: inline-block;
            height: 100%;
            font-size: 16px;
            line-height: 20px;
        }
    }
    
    &.with-icon {
        position: relative;
        box-sizing: border-box;
        padding: 20px;
        width: 80px;
        height: 80px;
        background: #f3f2f1;
        border: 1px solid transparent;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: all 0.3s;

        .fv-radio-button {
            position: absolute;
            display: none;
            margin: 0;
            top: 4px;
            right: 4px;
            
            &.actived {
                display: inline-block;
            }
        }
        &:hover {
            border: 1px solid rgba(58, 57, 56, 0.165);
            box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.1);

            .fv-radio-button {
                display: inline-block;
                border: 1px solid rgba(58, 57, 56, 0.165);
            }
            
            &.disabled {
                border: none;
                filter: grayscale(1);
                opacity: 0.6;
                .fv-radio-button {
                    border: none;
                }
            }
        }
        &.actived {
            border: 1px solid rgba(0, 120, 212, 0.829);
            .fv-radio-button {
                border: none;
            }
        }
        .fv-radio-label {
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 64px;
            .with-icon {
                display: block;
                font-size: 20px;
            }
            span {
                width: 100%;
                height: auto;
                margin-top: 8px;
                font-size: 13.8px;
                display: block;
                overflow: hidden;
            }

            img {
                height: 20px;
                width: 20px;
            }
        }
    }

    &.disabled {
        color: #b2b1af;
        filter: grayscale(1);
        opacity: 0.6;
        cursor: not-allowed;
        .fv-radio-button {
            &:hover {
                border-color: #afafaf;
            }
        }
    }
}
