@mixin fv-radio {
  display: inline-flex;
  min-width: 20px;
  min-height: 20px;
  height: 20px;
  box-sizing: border-box;
  align-content: space-between;
  cursor: pointer;
  .button{
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    cursor: pointer;
    outline: none;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 1px solid #afafaf;
    margin:0 5px;
    &:hover{
      border: 1px solid #484848;
    }
    &::before{
      content: "";
      position: absolute;
      box-sizing: border-box;
      height: 50%;
      width: 50%;
      border-radius: 50%;
      left: 50%;
      top: 50%;
      transform: translate(-50%,-50%);
    }
    &.actived{
      background-color: #0078d4;
      border: none;
      &.disabled{
        background-color: #afafaf;
      }
      &::before{  
        background-color: white;
      }
    }
  }
  .label{
    position: relative;
    height: 20px;
    span{
      display: inline-block;
      height: 100%;
      font-size: 16px;
      line-height: 20px;
    }
  }
  &.icon{
    position:relative;
    box-sizing: border-box;
    padding-top:20px;
    width: 94px;
    height: 94px;
    background:#f3f2f1;
    // border: 1px solid #f3f2f1;
    justify-content:center;
    align-items:center;
    cursor: pointer;
    .button{
      position: absolute;
      display: none;
      margin:0;
      top:4px;
      right: 4px;
      &.actived{
        display: inline-block;
      }
    }
    &:hover{
      border:1px solid #323130;
      .button{
        display: inline-block;
        border:1px solid #3a3938;
      }
      &.disabled{
        border: none;
        .button{
          border:none;
        }
      }
    }
    &.actived{
      border:1px solid #0078d4;
      .button{
        border: none;
      }
    }
    .label{
      display: flex;
      flex-direction: column;
      align-items: center;
      height:64px;
      .icon{
        display: block;
        font-size:32px;
      }
      span{
        display: block;
        height: 32px;
        max-width: 64px;
        overflow: hidden;
      }
      img{
        height: 32px;
        width: 32px;
      }
    }
  }

  &.disabled{
    color:#b2b1af;
    cursor:not-allowed; 
    .button{
      &:hover{
        border-color: #afafaf;
      }
    }
  }
}
