@mixin fv-Tag {
    position: relative;
    display: flex;

    .fv-tag-item {
        position: relative;
        width: auto;
        height: 25px;
        flex-shrink: 0;
        margin: 0px 3px;
        padding: 3px 5px;
        font-size: 15px;
        background: rgba(25, 106, 167, 0.1);
        border: rgba(25, 106, 167, 0.1) solid thin;
        color: rgba(25, 106, 167, 1);
        border-radius: 3px;
        transition: all 0.3s;
        display: flex;
        justify-content: center;
        align-items: center;

        &.success {
            background: rgba(0, 204, 153, 0.1);
            border-color: rgba(0, 204, 153, 0.1) solid thin;
            color: rgba(0, 204, 153, 1);
        }

        &.warning {
            background: rgba(255, 200, 10, 0.1);
            border-color: rgba(255, 200, 10, 0.1) solid thin;
            color: rgba(255, 200, 10, 1);
        }

        &.error {
            background: rgba(173, 38, 45, 0.1);
            border-color: rgba(173, 38, 45, 0.1) solid thin;
            color: rgba(173, 38, 45, 1);
        }

        &.medium {
            height: 20px;
            font-size: 13.8px;
        }

        &.small {
            height: 15px;
            font-size: 13px;
        }

        &.xsmall {
            height: 12px;
            font-size: 12px;
        }

        &.disabled {
            filter: grayscale(1);
            opacity: 0.6;
        }

        .fv-tag-icon {
            position: relative;
            width: 20px;
            height: 100%;
            margin-left: 5px;
            font-size: 12px;
            box-sizing: border-box;
            display: flex;
            justify-content: center;
            align-items: center;

            .fv-tag-icon-btn {
                position: relative;
                width: 20px;
                height: 20px;
                padding: 0px;
                margin: 0px;
                border-radius: 50%;
                box-sizing: border-box;
                display: flex;
                justify-content: center;
                align-items: center;

                &:hover {
                    background: rgba(36, 36, 36, 0.1);
                }
            }
        }

        .fv-tag-content {
            position: relative;
            width: auto;
            height: 100%;
            box-sizing: border-box;
            display: flex;
            justify-content: center;
            align-items: center;

            .fv-tag-default-content {
                position: relative;
                width: auto;
                height: 100%;
                margin: 0px;
                line-height: 1;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }

        &.controller {
            &:hover {
                opacity: 0.8;
            }

            .fv-tag-icon {
                margin-left: 0px;
                margin-right: 5px;

                .fv-tag-icon-btn {
                    &:hover {
                        background: transparent;
                    }
                }
            }

            .fv-tag-content {
                user-select: none;
            }
        }
    }
}
