@mixin fv-TextBox {

    position: relative;
    width: 300px;
    height: 32px;
    border: $t-light-36 solid thin;
    border-radius: 2px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    -webkit-appearance: none;
    overflow: hidden;

    &.warn
    {
        border: $border-error-color solid thin;
    }

    &.correct
    {
        border: $border-correct-color solid thin;
    }

    &.shadow
    {
        box-shadow: rgba(0, 0, 0, 0.133) 0px 3.2px 7.2px 0px, rgba(0, 0, 0, 0.11) 0px 0.6px 1.8px 0px;
    }

    &.focus
    {
        border: $border-std-color solid 2px;

        div.text-box-container
        {
            margin: 0px;
        }

        div.fix-block
        {
            margin: 0px;
        }
    }

    &.underline
    {
        border-left: none;
        border-top: none;
        border-right: none;

        div.fix-block
        {
            background: transparent;

            p
            {
                font-weight: 600;
                color: $t-light-50;
                cursor: default;
            }
        }
    }

    &.disabled
    {
        border-color: transparent;

        .text-box-reveal-container
        {
            background: rgba(243, 242, 241, 1);
        }

        div.text-box-container
        {
            .input
            {
                opacity: 0.5;
            }
        }

        div.fix-block
        {
            p
            {
                opacity: 0.5;
            }
        }

        .icon-block
        {
            opacity: 0.5;
        }
    }

    .text-box-reveal-container
    {
        position: relative;
        width: 100%;
        height: 100%;
        background: white;
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        align-items: center;
        -webkit-appearance: none;
        overflow: hidden;
    }

    div.fix-block
    {
        position: relative;
        height: 100%;
        margin: 1px;
        padding: 0px 10px;
        background: rgba(243, 242, 241, 1);
        font-size: 13.5px;
        display: flex;
        justify-content: center;
        align-items: center;

        p
        {
            color: $t-light-96;
        }
    }

    .icon-block
    {
        position: relative;
        width: 30px;
        height: 100%;
        padding: 0px 10px;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: text;
    }
    
    div.text-box-container
    {
        position: relative;
        width: 100%;
        height: 100%;
        margin: 1px;
        padding: 0px 8px;
        flex: 1;
        box-sizing: border-box;
        display: flex;

        &.internal
        {
            margin: 0px;
            padding: 0px;
        }
        
        .input
        {
            position: relative;
            width: 100%;
            height: 100%;
            background: transparent;
            border: none;
            outline: none;
        }
    }
}
