@mixin fv-timePicker {
  position: relative;
  display: inline-block;
  width: 250px;
  height: 30px;
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
  border-color: inherit;
  padding: 0;
  margin: 0;
  cursor: pointer;
  button {
    //default clear
    background: none;
    border: none;
    color: inherit;
    cursor: inherit;
    box-sizing: border-box;
    padding: 0 20px;
    height: inherit;
    margin: 0;
    outline: none;
  }
  .fv-TimePicker__input{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    display: inline-flex;
    cursor: inherit;
    .fv-TimePicker__input-item{
      flex:1;
      text-align: center;
      white-space: nowrap;
      cursor: inherit;
    }
    .fv-TimePicker__input-item:nth-child(n+2){
      border-left-style: solid;
      border-left-width: 1px;
    }
  }
  .fv-TimePicker__options{
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 400px;
    border-radius: 2px;
    z-index: 2000;
    transform: translate(0, -165px);
    overflow: hidden;
    box-sizing: border-box;
    box-shadow: 0 0 5px #aaa;
    display: flex;
    flex-direction: column;
    border-color:inherit;
    .fv-TimePicker__options-body{
      position: relative;
      height: calc(100% - 40px);
      width: inherit;
      display: inline-flex;
      border-left-color: inherit;
      .fv-TimePicker__options-body-mask{
        position: absolute;
        height: 40px;
        width: 100%;
        top:50%;
        // opacity: 0.8;
        transform: translate(0,-50%);
      }
      .fv-TimePicker__options-body-col{
        flex: 1;
        text-align: center;
        z-index:1;
        position: relative;
        .fv-TimePicker__options-body-items{
          height: 100%;
          overflow-x: hidden;
          overflow-y: auto;
          -ms-overflow-style: -ms-autohiding-scrollbar;
          &::-webkit-scrollbar {
            display: none;
          }
          .fv-TimePicker__options-body-item{
            height: 40px;
            font-size:14px;
            box-sizing: border-box;
            padding: 10px 20px;
            line-height: 100%;
            border-color:inherit;
            white-space: nowrap;
            -moz-user-select: -moz-none;
            -o-user-select:none;
            -khtml-user-select:none;
            -webkit-user-select:none;
            -ms-user-select:none;
            user-select:none;
            z-index: 100;
          }
        }
      }
      .fv-TimePicker__options-body-col:nth-child(n+3){
        border-color:inherit;
        .fv-TimePicker__options-body-items{
          border-color: inherit;
          .fv-TimePicker__options-body-item{
            border-left-style: solid;
            border-left-width: 1px;
          }
        }
        .fv-TimePicker__options-body-col-up,.fv-TimePicker__options-body-col-down{
          border-left-style: solid;
          border-left-width: 1px;
          border-color:inherit;
          cursor: pointer;
        }
      }
      .fv-TimePicker__options-body-col{
        .fv-TimePicker__options-body-col-up,.fv-TimePicker__options-body-col-down{
          display: none;
          position: absolute;
          height: 20px;
          width: 100%;
          text-align: center;
          line-height: 20px;
          font-size: 8px;
          cursor: pointer;
        }
        .fv-TimePicker__options-body-col-down{
          transform: translate(0,-100%);
        }
      }
    }
    .fv-TimePicker__options-bar {
      height: 40px;
      width: inherit;
      display: inline-flex;
      border-top-style: solid;
      border-top-width: 1px;
      border-color:inherit;
      z-index: 1;
      button {
        flex: 1;
        font-size: 16px;
        font-weight: bold;
      }
    }
  }
}
