@mixin fv-ToggleSwitch
{

    position: relative;
    display: flex;
    align-items: center;

    &.disabled
    {
        opacity: 0.3;
        filter: grayscale(1);
    }

    div
    {
        position: relative;
        width: 45px;
        height: 20px;
        padding: 5px;
        border: rgba(0,0,0,1) solid 2px;
        border-radius: 20px;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        opacity: 0.8;
        transition: all 0.2s, background-color 0.5s;
        -webkit-transition: all 0.2s, background-color 0.5s;
        
        &:hover
        {
            opacity: 1;
        }
        
        &:active
        {
            background: rgba(36,36,36,0.6);
            border: rgba(0,0,0,0) solid 2px;
            p
            {
                background: rgba(255,255,255,1);
            }
        }
        
        p
        {
            width: 10px;
            height: 10px;
            background: rgba(0,0,0,1);
            border-radius: 50%;
            box-shadow: 3px 3px 10px rgba(0,0,0,0.2);
            transition: all 0.2s;
        }
        
        &.toggle-on
        {
            background: rgba(0,120,215,0.8);
            border: rgba(0,0,0,0) solid 2px;
            p
            {
                margin-left: 20px;
                background: rgba(255,255,255,1);
                box-shadow: -3px 3px 10px rgba(0,0,0,0.2);
            }
        }
    }
    
    .content
    {
        margin-left: 5px;
        font-family: '微软雅黑';
        font-size: 13px;
        cursor: default;
        transition: all 0.2s;
        -webkit-transition: all 0.2s;
    }

    p
    {
        user-select: none;
    }
}