@import '../common-theme/Button.scss';
.fv-dark-button{
    @include fv-button();

    div.fv-button-main-container
    {
        &:hover
        {
            background: rgba(243, 242, 241, 0.6);
        }
        
        .fv-button-container
        {
            background: #605e5c;
            border: rgba(36, 36, 36, 0.2) solid thin;
            
            span.fv-btn-content-block
            {
                color: whitesmoke;
            }
        }
    }
}
    
