@import '../common-theme/Button.scss';
.fv-dark-button{
    @include fv-button();

    div.fv-button-reveal-border
    {
        &:hover
        {
            background: rgba(243, 242, 241, 0.6);
        }
        
        button.button-container
        {
            background: #605e5c;
            
            span.content-block
            {
                color: whitesmoke;
            }
        }
    }
}
    
