@import '../common-theme/Callout.scss';
.fv-dark-callout{
  @include fv-callout();
  background-color: #000;
  color:white;
  box-shadow: rgba(255, 255, 255, 0.2) 0px 6.4px 14.4px 0px, rgba(255, 255, 255, 0.1) 0px 1.2px 3.6px 0px;
  .bg{
    background-color: inherit;
  }
  .beak{
    background-color: inherit;
    box-shadow: inherit;
  }
}
    
