@import "../common-theme/DatePicker.scss";
.fv-dark-DatePicker {
  @include fv-DatePicker();
  background-color: #000;
  color: white;
  border-color: #999999;
  &:hover {
    border-color: #cccccc;
  }
  .fv-DatePicker__input {
    .fv-DatePicker__input-day {
      border-left-color: #333;
    }
    .fv-DatePicker__input-year {
      border-left-color: #333;
    }
  }

  .fv-DatePicker__input-options {
    background-color: rgba(30, 30, 30, 0.95);
    color: #fff;
    border-color: #444;
    .fv-DatePicker__input-body {
      background-color: inherit;
      .fv-DatePicker__input-center-mask {
        background-color: #393837;
      }
      .fv-DatePicker__input-options-col {
        .fv-DatePicker__input-options-col-items{
          border-color: inherit;
        }
        .fv-DatePicker__input-options-col-up {
          background-color: #1f1f1f;
        }
        .fv-DatePicker__input-options-col-down {
          background-color: #1f1f1f;
        }
        &:hover {
          > .fv-DatePicker__input-options-col-up {
            display: block;
            &:hover {
              background-color: #353535;
            }
          }
          > .fv-DatePicker__input-options-col-down {
            display: block;
            &:hover {
              background-color: #353535;
            }
          }
        }
        .fv-DatePicker__input-options-col-item {
          &:hover {
            background-color: #343434;
          }
        }
      }
      .fv-DatePicker__input-options-col:nth-child(n+3){
        .fv-DatePicker__input-options-col-item {
          border-left-style: solid;
          border-left-width: 1px;
          border-color: inherit;
        }
        .fv-DatePicker__input-options-col-up {
          border-left-style: solid;
          border-left-width: 1px;
          border-color: inherit;
        }
        .fv-DatePicker__input-options-col-down {
          border-left-style: solid;
          border-left-width: 1px;
          border-color: inherit;
        }
      }
    }
    .fv-DatePicker__input-options-bottom-bar {
      background-color: inherit;
      border-top: 1px solid inherit;
      button:hover {
        background-color: #343434;
      }
    }
  }
}
