@import "../common-theme/DatePicker.scss";
.fv-dark-DatePicker {
    @include fv-DatePicker();
    background-color: #000;
    color: white;
    border-color: #999999;
    &:hover {
        border-color: #cccccc;
    }
    .fv-DatePicker__input {
        background-color: rgba(50, 50, 50, 1);
        color: #fff;
        border-color: rgba(55, 55, 55, 1);
        
        .fv-DatePicker__input-day {
            border-left-color: rgba(200, 200, 200, 0.1);
        }
        .fv-DatePicker__input-year {
            border-left-color: rgba(200, 200, 200, 0.1);
        }
    }

    .fv-DatePicker__input-options {
        background-color: rgba(46, 46, 46, 1);
        border-color: rgba(200, 200, 200, 0.1);
        color: whitesmoke;
        .fv-DatePicker__input-body {
            background-color: inherit;
            .fv-DatePicker__input-center-mask {
                background-color: rgba(118, 185, 237, 1);
            }
            .fv-DatePicker__input-options-col {
                .fv-DatePicker__input-options-col-items {
                    border-color: inherit;
                }
                .fv-DatePicker__input-options-col-up {
                    background-color: rgba(46, 46, 46, 1);
                }
                .fv-DatePicker__input-options-col-down {
                    background-color: rgba(46, 46, 46, 1);
                }
                &:hover {
                    .fv-DatePicker__input-options-col-up {
                        background-color: rgba(46, 46, 46, 1);
                        &:hover {
                            background-color: rgba(46, 46, 46, 1);
                        }
                    }
                    .fv-DatePicker__input-options-col-down {
                        background-color: rgba(46, 46, 46, 1);
                        &:hover {
                            background-color: rgba(46, 46, 46, 1);
                        }
                    }
                }
                .fv-DatePicker__input-options-col-item {
                    &:hover {
                        background-color: #343434;
                    }
                }
            }
            .fv-DatePicker__input-options-col:nth-child(n + 3) {
                .fv-DatePicker__input-options-col-item {
                    border-left-style: solid;
                    border-left-width: 1px;
                    border-color: inherit;
                }
                .fv-DatePicker__input-options-col-up {
                    border-left-style: solid;
                    border-left-width: 1px;
                    border-color: inherit;
                }
                .fv-DatePicker__input-options-col-down {
                    border-left-style: solid;
                    border-left-width: 1px;
                    border-color: inherit;
                }
            }
        }
        .fv-DatePicker__input-options-bottom-bar {
            .fv-DatePicker__input-options-accept,
            .fv-DatePicker__input-options-cancel {
                width: 100%;
                height: 100%;
                margin: 0px 1px;
                border-radius: 6px;
                flex: 1;
                font-size: 16px;
                font-weight: bold;

                &:hover {
                    background-color: rgba(120, 120, 120, 0.1);
                }
            }
        }
    }
}
