@import "../common-theme/FlipView.scss";
.fv-dark-FlipView {
    
    @include fv-FlipView();

    .control-panel
    {
        .slidebtn
        {
            background: rgba(36, 36, 36, 0.3);
            color: rgba(245, 245, 245, 0.6);

            &:hover
            {
                color: whitesmoke;
            }
        }

        .bottom-controller
        {
            .flip-view-ring {
                width: 6px;
                height: 6px;
                margin: 2px;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                box-sizing: border-box;
                cursor: pointer;

                &:hover {
                    i {
                        width: 100%;
                        height: 100%;
                        background: rgba(200, 200, 200, 1);
                    }
                }

                &:active {
                    i {
                        width: 67%;
                        height: 67%;
                    }
                }

                &.choosen {
                    i {
                        width: 100%;
                        height: 100%;
                    }
                }

                i {
                    width: 67%;
                    height: 67%;
                    background: rgba(200, 200, 200, 0.8);
                    border-radius: 50%;
                }
            }

            .sec
            {
                color: whitesmoke;

                &:hover
                {
                    background: rgba(242,242,242,0.1);
                }
            }
        }
    }
}
