@import "../common-theme/FlipView.scss";
.fv-dark-FlipView {
    
    @include fv-FlipView();

    .control-panel
    {
        .slidebtn
        {
            background: rgba(36, 36, 36, 0.3);
            color: rgba(245, 245, 245, 0.6);

            &:hover
            {
                color: whitesmoke;
            }
        }

        .bottom-controller
        {
            .fst
            {
                color: whitesmoke;
            }

            .sec
            {
                color: whitesmoke;

                &:hover
                {
                    background: rgba(242,242,242,0.1);
                }
            }
        }
    }
}
