@import '../common-theme/ListView.scss';
.fv-dark-ListView {

    @include fv-ListView();

    .list-view-container
    {
        .item
        {
            *{
                color: whitesmoke;
            }

            &:hover
            {
                background: $row-dark-hover;
            }

            &.header
            {
                *{
                    color: rgba(0, 153, 204, 1);
                }
            }

            &.choose
            {
                background: rgba(0, 120, 212, 0.6);
            }

            &.hr
            {
                border-bottom: rgba(216, 216, 216, 0.3) solid thin;
            }
        }
    }
}
    
