@import '../common-theme/ListView.scss';
.fv-dark-ListView {

    @include fv-ListView();

    .container
    {
        .item
        {
            *{
                color: whitesmoke;
            }

            &:hover
            {
                background: $row-dark-hover;
            }

            &.choose
            {
                background: rgba(0, 120, 212, 0.6);
            }
        }
    }
}
    
