@import "../common-theme/MenuFlyout.scss";
.fv-dark-menuFlyout {
  @include fv-menuFlyout();
  color:#f0efee;
  background-color: #252423;
  .fv-menuFlyout__button{
    border: 1px solid #979693;
  }
  &:hover {
    background-color: #252423;
  }
  &.actived {
    background-color: #252423;
  }
  &.disabled{
    background-color: #252423;
    color:#797775;
  }
}

.fv-dark-menuFlyoutPopper {
  @include fv-menuFlyoutPopper();
  hr{
    border-color: #292827;
  }
  background-color: #252423;
  color: #f0efee;
}

.fv-dark-menuSubFlyout {
  @include fv-menuSubFlyout();
  color: inherit;
  background-color: inherit;
  font-size: 14px;
  &:hover {
    .fv-menuSubFlyout__bg {
      background-color: #323130;
    }
    .fv-menuSubFlyout__label + .fv-menuSubFlyout__button-box:hover {
      background-color: #323130;
    }
  }
  .fv-menuSubFlyout__button-box:hover + .fv-menuSubFlyout__bg {
    background-color: inherit;
  }
  &.actived {
    .fv-menuSubFlyout__button-box {
      background-color: #323130;
    }
  }
  &.disabled{
    background-color: inherit;
    color:#797775;
  }
}

.fv-dark-menuItemFlyout {
  @include fv-menuItemFlyout;
  background-color: inherit;
  &:hover {
    background-color: #323130;
  }
  color: #f0efee;
  .fv-menuItemFlyout__icon{
    color: #0078d4;
  }
  &.disabled{
    background-color: inherit;
    color:#797775;
  }
}

.fv-dark-menuBlockFlyout{
  @include fv-menuBlockFlyout();
  background-color: inherit;
  color:inherit;
  .fv-menuBlockFlyout__header{
    height: 30px;
    line-height: 30px;
    color:inherit;
  }
}
