@import "../common-theme/Persona.scss";
.fv-dark-Persona {

    @include fv-Persona();
    
    div.persona-avatar
    {
        .status-icon
        {
            background: black;
        }
    }

    .persona-content-block
    {
        .persona-title
        {
            color: white;
        }

        .persona-secondary
        {
            color: whitesmoke;
        }
    }
}
