@import '../common-theme/Pivot.scss';
.fv-dark-Pivot {
    
    @include fv-Pivot();

    .pivot-container
    {
        z-index: 1;
        
        .pivot-item
        {
            p
            {
                color: whitesmoke;
            }
        }
    }

    &.tab
    {
        .pivot-container
        {
            .pivot-item
            {
                &.choose
                {
                    p
                    {
                        color: black;
                    }
                }

                p
                {
                    color: whitesmoke;
                }
            }
        }
    }
}
    
