@import "../common-theme/Radio.scss";
.fv-dark-radio {
    @include fv-radio();
    color: #faf9f8;
    .fv-radio-button {
        border-color: #6f6f6f;
        &::before {
            display: none;
        }
        &:hover {
            border-color: #aaaaaa;
        }
        &:active
        {
            background-color: rgba(102, 102, 102, 1);
            border: 1px solid rgba(236, 236, 236, 1);
        }
        &.actived {
            &::before {
                display: block;
            }
        }
    }
    &.with-icon {
        background-color: #252423;
        &:hover {
            border: 1px solid #f3f2f1;
            .fv-radio-button {
                border: 1px solid #f3f2f1;
            }
        }
        &.actived {
            border: 1px solid #0078d4;
            .fv-radio-button {
                border: none;
            }
        }
    }

    &.disabled {
        color: #636160;
    }
}
