@import "../common-theme/RightMenu.scss";
.fv-dark-RightMenu {
    @include fv-RightMenu();

    background: rgba(36, 36, 36, 0.6);
    border: rgba(200, 200, 200, 0.1) solid thin;
    box-shadow:
        0px 0px 0px rgba(36, 36, 36, 0.1),
        0px 3px 6px rgba(36, 36, 36, 0.3);

    div.right-menu-list {
        color: whitesmoke;

        span {
            &:hover {
                background: rgba(0, 0, 0, 0.3);
            }

            &:active {
                background: rgba(0, 0, 0, 0.2);
            }
        }

        hr {
            border-bottom: rgba(50, 49, 48, 1) solid thin;
        }
    }
}
