@import '../common-theme/SearchBox.scss';
.fv-dark-SearchBox{
    
    @include fv-SearchBox();

    background: transparent;
    border: rgba(161, 159, 157, 1) solid thin;

    &:hover
    {
        border: $row-light-hover solid thin;
    }

    &.focus
    {
        border: rgba(0, 120, 212, 1) solid 2px;
    }

    &.underline
    {
        border-left-color: transparent;
        border-top-color: transparent;
        border-right-color: transparent;

        div.fix-block
        {
            background: transparent;

            p
            {
                color: rgba(243, 242, 241, 1);
            }
        }
    }

    &.disabled
    {
        background: rgb(48, 47, 46);

        &:hover
        {
            border-color: transparent;
        }
    }

    div.fix-block
    {
        background: transparent;

        p
        {
            color: rgba(243, 242, 241, 1);
        }
    }

    .icon-block
    {
        color: rgba(243, 242, 241, 1);
    }
    
    div.search-box-container
    {   
        .input
        {
            color: rgba(243, 242, 241, 1);
        }

        .input::placeholder
        {
            color: rgba(121, 119, 117, 1);
        }
    }

    .search-result-container
    {
        background: rgba(0, 0, 0, 0.8);

        .list-item
        {
            color: whitesmoke;
        }

        .list-title
        {
            color: rgba(239, 239, 239, 0.8);
        }
    }
}
    
