@import "../common-theme/Slider.scss";
.fv-dark-slider {
    @include fv-slider();

    color: whitesmoke;

    .fv-slider-main {
        background-color: rgba(154, 154, 154, 1);

        .fv-slider-ring-container {
            background: rgba(69, 69, 69, 1);
            border: rgba(90, 90, 90, 0.1) solid thin;

            .fv-slider-ring-icon {
                color: rgba(113, 173, 220, 1);
            }
        }

        .fv-slider-loaded {
            background-color: rgba(113, 173, 220, 1);
        }

        .fv-slider-label {
            background-color: rgba(45, 45, 45, 1);
            border: rgba(90, 90, 90, 0.1) solid thin;
        }

        .fv-slider-unit-container {
            .fv-slider-unit-item {
                background-color: rgba(154, 154, 154, 1);
            }
        }
    }
}
