@import "../common-theme/Slider.scss";
.fv-dark-slider {
  @include fv-slider();

  color: white;
  //region:color begin
  .fv-slider__bar {
    &.disable{
      color:white;
    }
    .fv-slider__bar-bg {
      background-color: #999999;
    }
    .fv-slider__button {
      color: #0075d1;
    }
    .fv-slider__scale-up,
    .fv-slider__scale-down {
      background-color: #fff;
    }
    .fv-slider__progress {
      background-color: #0075d1;
    }
  }
  &:hover {
    .fv-slider__bar {
      .fv-slider__bar-bg {
        background-color: #d6d5d4;
      }
      .fv-slider__button {
        color: #59c4ff;
      }
    }
  }
  &.active {
    .fv-slider__bar {
      background-color: rgba(153, 153, 153, 1);
      .fv-slider__button {
        color: #0075d1;
      }
    }
  }
  //region:end of color
}
