@import "../common-theme/TextBox.scss";
.fv-dark-TextBox {
    @include fv-TextBox();

    background: transparent;

    &.focus {
        .fv-text-box-wrapper-container {
            border: rgba(36, 36, 36, 1) solid thin;
        }
    }

    &.underline {
        .fv-text-box-wrapper-container {
            border-left: none;
            border-top: none;
            border-right: none;

            div.fix-block {
                background: transparent;

                p {
                    color: rgba(243, 242, 241, 1);
                }
            }
        }
    }

    &.disabled {
        background: rgb(48, 47, 46);
        border-color: transparent;

        .fv-text-box-wrapper-container {
            &:hover {
                border-color: transparent;
            }
        }
    }

    .fv-text-box-wrapper-container {
        border: rgba(200, 200, 200, 0.1) solid thin;

        div.fix-block {
            background: transparent;

            p {
                color: rgba(243, 242, 241, 1);
            }
        }

        .icon-block {
            color: rgba(243, 242, 241, 1);
        }

        div.text-box-container {
            .fv-text-box-input {
                color: rgba(243, 242, 241, 1);
            }

            .fv-text-box-input::placeholder {
                color: rgba(220, 220, 220, 1);
            }
        }
    }
}
