@import "../common-theme/TextBox.scss";
.fv-dark-TextBox {
    @include fv-TextBox();

    background: transparent;
    border: rgba(36, 36, 36, 1) solid thin;

    &:hover
    {
        border: rgba(36, 36, 36, 1) solid thin;
    }

    &.focus
    {
        border: rgba(36, 36, 36, 1) solid thin;
    }

    &.shadow
    {
        box-shadow: rgba(165, 165, 165, 0.133) 0px 3.2px 7.2px 0px, rgba(224, 224, 224, 0.11) 0px 0.6px 1.8px 0px;
    }

    &.underline
    {
        border-left: none;
        border-top: none;
        border-right: none;

        div.fix-block
        {
            background: transparent;

            p
            {
                color: rgba(243, 242, 241, 1);
            }
        }
    }

    &.disabled
    {
        border-color: transparent;
        
        .text-box-reveal-container
        {
            background: rgb(48, 47, 46);
        }

        &:hover
        {
            border-color: transparent;
        }
    }

    .text-box-reveal-container
    {
        background: transparent;
    }

    div.fix-block
    {
        background: transparent;

        p
        {
            color: rgba(243, 242, 241, 1);
        }
    }

    .icon-block
    {
        color: rgba(243, 242, 241, 1);
    }
    
    div.text-box-container
    {
        .input
        {
            color: rgba(243, 242, 241, 1);
        }

        .input::placeholder
        {
            color: rgba(121, 119, 117, 1);
        }
    }
}
