@import "../common-theme/ToggleSwitch.scss";
.fv-dark-ToggleSwitch {
    @include fv-ToggleSwitch();

    position: relative;
    display: flex;
    align-items: center;

    div
    {
        border: rgba(242,242,242,0.8) solid 2px;
        p
        {
            background: rgba(242,242,242,0.8);
        }
    }
    
    p
    {
        color: rgba(255,255,255,1);
    }
}