@import "../common-theme/ToggleSwitch.scss";
.fv-dark-ToggleSwitch {
    @include fv-ToggleSwitch();

    position: relative;
    display: flex;
    align-items: center;

    .fv-toggle-border
    {
        border: rgba(207, 207, 207, 0.8) solid 1.5px;

        &:hover
        {
            background: rgba(207, 207, 207, 0.05);
            opacity: 1;
        }
        
        &:active
        {
            background: rgba(207, 207, 207, 0.1);
        }
        
        .fv-toggle-ring
        {
            background: rgba(207, 207, 207, 0.8);
        }

        &.toggle-on
        {
            background: rgba(109, 169, 216, 0.8);
            border-color: transparent;

            .fv-toggle-ring
            {
                background: black;
            }
        }
    }
    
    .fv-toggle-content
    {
        color: whitesmoke;
    }
}