@import "../common-theme/WebWindow.scss";
.fv-dark-WebWindow {
    @include fv-WebWindow();
    
    background: rgba(56,56,56,1);
    color: whitesmoke;

    .title-bar
    {
        .control-btn
        {
            color: whitesmoke;

            &.shut-down
            {
                &:hover
                {
                    color: whitesmoke;
                }
            }

            &:hover
            {
                background: rgba(255,255,255,0.1);
            }

            &:active
            {
                background: rgba(255,255,255,0.2);
            }
        }
    }

    .fv-web-window-spliter
	{
		&:hover
		{
			i
			{
				background: rgba(72, 70, 68, 1);
			}
		}

		&:active
		{
			i
			{
				background: rgba(200, 198, 196, 1);
				box-shadow: 0px 0px 3px 0px rgba(255, 255, 255, 0.3);
			}
		}
	}
}
